/* first button */
*{
    box-sizing: border-box;
}

.parent{
    margin:10px;
    background-color: rgb(214, 164, 210);
    padding:20px;
}

.btn1 {
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  height:40px;
  width:80px;
  border:2px solid transparent;
}
.btn1:hover {
  animation-name: new;
  animation-timing-function:linear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes new {
  0% {
    border-color:transparent;
  }

  25% {
    border-top-color: black;
  }

  50% {
    border-top-color: black;
    border-right-color: black;
  }

  75% {
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: black;
  }

  100% {
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: black;
    border-left-color:black;
  }
}

/* second button */

.btn2 {
    display: inline-block;
    position: relative;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    height:40px;
    width:80px;
}
.btn2:hover{
    box-shadow: 0px 3px 5px  rgba(56, 97, 56,0.5);
    animation-name: second;
    animation-timing-function:linear;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes second{
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(-3px);
    }
    50%{
        transform: translateY(-3px);
    }
    100%{
        transform: translateY(0);
        
    }
}

/* third button */

.parent1{
    margin:10px;
    background-color: rgb(86, 232, 86);
    padding:20px;
}
.btn3{
    display: inline-block;
    position:relative;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border:2px solid white;
    color: white;
    overflow:hidden;
}
.btn3::before{
    position:absolute;
    width:100%;
    height:100%;
    content:"";
    top:100%;
    left:0;
    background-color: rgba(255,255,255,0.4);
    animation-name:reverse;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.btn3:hover::before{
    animation-name:anim;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes anim{
0%{
    top:100%; 
}
100%{
    top:0%;
}
}

@keyframes reverse{
    0%{
        top:0%; 
    }
    100%{
        top:100%;
    }
}

/* fourth button */
.btn4{
    display: inline-block;
    position:relative;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border:2px solid white;
    color: white;
    overflow:hidden;
    margin-left:20px;
}
.btn4::before{
    position:absolute;
    width:100%;
    height:100%;
    background-color: rgba(255,255,255,0.4);
    content:"";
    top:0;
    left:-100%;
}

.btn4:hover::before{
    animation-name:anim2;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes anim2{
    0%{
        left:-100%; 
    }
    100%{
        left:0%;
    }
}


/* fifth button */
.parent2{
    margin:10px;
    background-color: rgb(63, 202, 236);
    padding:20px;
}
.btn5{
    display: inline-block;
    position:relative;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border:2px solid white;
    color: white;
    overflow:hidden;
}

.btn5::before{
    position:absolute;
    width:100%;
    height:20%;
    top:0;
    left:0;
    content:"";
    background-color: rgba(255,255,255,0.4);
}

.btn5:hover::before{
    animation-name:anim3;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes anim3{
    0%{
        top:0%; 
    }
    100%{
        top:80%;
    }
}


/* sixth button */
.btn6{
    display: inline-block;
    position:relative;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border:2px solid white;
    color: white;
    overflow:hidden;
    margin-left:20px;
}
.btn6::before{
    position:absolute;
    width:10%;
    height:100%;
    top:0;
    left:0%;
    content:"";
    background-color: rgba(255,255,255,0.4);
}

.btn6:hover::before{
    animation-name:anim4;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes anim4{
    0%{
        left:0%; 
    }
    100%{
        left:90%;
    }
}

/* seventh button */
.parent3{
    margin:10px;
    background-color:rgb(208, 172, 105);   
    padding:20px;
}
.btn7{
    display: inline-block;
    position:relative;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-bottom:2px solid white;
    color: white;
    overflow:hidden;
    transform: all 1s linear;
}
.btn7:before{
    position:absolute;
    top:0;
    content:"";
    border-top: 2px solid white;
}
.btn7:hover::before{
    animation-name:anim5;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes anim5{
    0%{
        left:50%; 
        width:0%
    }
    100%{
        left:0%;
        width:100%;
    }
}

/* eighth button */
.btn8{
    display: inline-block;
    position:relative;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    overflow:hidden;
    margin-left:20px;
}
.btn8:before{
    position:absolute;
    top:0;
    bottom: 0;
    content:"";
    border-top: 2px solid white;
    border-bottom:2px solid white;
    transition:all 1s linear;
}
.btn8:hover::before{
    left:0%;
    width:100%;
    animation-name:anim6;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes anim6{
    0%{
        width:0%;
        left:50%;
    }
    100%{
        left:0%;
        width:100%;
    }
}



